<div class="container">
	<!-- Intro -->
	<div class="row well">
		<h1>How to Play Adventure Web</h1>
		<p>Adventure Web is a web based experience where you can explore the amazing world of Aera, a land ful of misteries.</p>
		<p>In order to explore and survive in this land, you'll need gold. However... how can you obtain gold?</p>
	</div>

	<!-- Gold System -->
	<div class="row well">
		<h2>Gold system</h2>
		<p>
		One of the key features of Adventure Web is the gold system. In Aera, nothing is for free. Beers cost money, swrords cost money... hell god even your wife costs money! There are many ways to obtain this mineral, but the basic you need to know is: 
		<strong>1 second of your time in Aera is 1 coin gold! </strong>
		</p>
		<p>Fantastic, right? Of course, there are more ways to obtain gold, but none of them are for free.</p>
	</div>
	
	<!-- Exploration -->
	<div class="row well">
		<h2>Exploration</h2>
		<p>
		Whenever you have enough coins, you can always ask the guards of your city to open the city gates and go and live an adventure! Obviously, the guards don't work for free, so they need to charge you a little fee. 
		</p>
		<p>
		Once you are exploring the vast lands of Aera, you can encounter one of the following things:
		<strong>
			<ul>
			<li>You can find more gold! Or,</li>
			<li>You can find valuable objects! Or, </li>
			<li>You may end up in a trap and loose some money</li>
			</ul>
		</strong>
		</p>
	</div>

</div>