<div class="well">
	<form name="myForm" class="form-signin" ng-submit="vm.setUserShared(vm.userName, vm.password);rt.go('/afterLogin/' + vm.userName)" ng-controller="RouteCtrl as rt">
        <h2 class="form-signin-heading">Please log in</h2>

        <label for="inputUser" class="sr-only">UserName</label>
        <input ng-model="vm.userName" type="text" name="user" id="inputUser" class="form-control" placeholder="User Name" required="" autofocus="">
        <span class="alert-danger" ng-show="myForm.user.$dirty && myForm.user.$invalid">
		<span ng-show="myForm.user.$error.required"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Username is required.</span>
		</span>

        <label for="inputPassword" class="sr-only" >Password</label>
        <input name="password" ng-model="vm.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <span class="alert-danger" role="alert" ng-show="myForm.password.$dirty && myForm.password.$invalid">
		<span ng-show="myForm.password.$error.required"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Password is required.</span>
		</span>
        <div class="alert alert-danger" role="alert">
		  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		  <span class="sr-only">Error:</span>
		  User and Password doesn't match.
		  	<div class="alert alert-warning alert-dismissible" role="alert">
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> Take into account that the service is case sensitive!.
			</div>
		</div>
        <div >
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit User" ng-value="myForm.user.$valid && myForm.password.$valid" >Log in {{vm.userName}}</button>
      </form>
</div>
