<div ng-controller="ModalCtrl" class="container">
    <script type="text/ng-template" id="myModalContent.html">
	        <div class="modal-header">
	            <h3 class="modal-title">You are Exploring!</h3>
	        </div>
	        <div class="modal-body">
	            <ul>
	                <li ng-repeat="item in items">
	                    <a ng-click="selected.item = item">{{ item }}</a>
	                </li>
	            </ul>
	            Selected: <b>{{ selected.item }}</b>
	        </div>
	        <div class="modal-footer">
	            <button class="btn btn-primary" ng-click="ok()">OK</button>
	            <button class="btn btn-warning" ng-click="cancel()"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Go Back To the City</button>
	        </div>
	    </script>

	    <button class="btn btn-default" ng-click="open('lg'); vm.removeGold(50)">Go Exploring (50 gold)</button>
	    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
</div>